*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media screen and (min-width: 1650px) {
  .container {
    width: 80%;
    min-height: 800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid grey;
    border-radius: 24px;
    padding: 10px 20px;
  }

  .container > .flex {
    justify-content: space-between;
  }
  .subcontent-text {
    width: 75%;
  }
  .left-side {
    width: 40%;
  }
  .left-side > h1 {
    font-size: 70px;
  }
  .img {
    height: 500px;
    width: 600px;
  }
  .container > .icon {
    display: none;
  }
}
@media screen and (min-width: 850px) and (max-width: 1650px) {
  .container {
    width: 90%;
    min-height: 800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid grey;
    border-radius: 24px;
    padding: 10px 20px;
  }

  .flex {
    justify-content: center;
    column-gap: 1rem;
  }
  .subcontent-text {
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
  .left-side {
    width: 100%;
    text-align: center;
  }
  .left-side > h2:nth-child(1) {
    margin-top: 10px;
  }
  .footer {
    justify-content: center;
  }
  h2,
  h1,
  h3,
  p {
    text-align: center;
  }
  .img {
    height: 450px;
    width: 450px;
  }
  .container > .icon {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .flex {
    justify-content: center;
    column-gap: 0.8rem;
  }
  .container {
    width: 100%;
  }
  .content {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
    justify-content: center;
  }
  h2,
  h1,
  h3,
  p {
    text-align: center;
  }
  .flex > .icon {
    display: none;
  }
  .container > .icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
body {
  min-height: 1000px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e28;
}

.flex {
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #fff;
}

.nav-links {
  display: flex;
  column-gap: 2rem;
  color: #fff;
  justify-content: center;
}

.content {
  min-height: 600px;
  align-items: center;
  display: flex;
  padding: 0 30px;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 8rem;
  color: #fff;
}

.subcontent-text {
  font-size: 22px;
  font-weight: 400;
  margin-top: 15px;
  opacity: 50%;
}

.footer {
  height: 100px;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  color: #fff;
  padding: 0 85px;
}

.left-side > .flex {
  column-gap: 1rem;
}
.circleimg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #3f4047;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 12px 20px;
  background-color: #0078ff;
  color: #fff;
  border-radius: 48px;
  border: none;
}
