@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: #e1ecf2;
}

.wrapper{
  margin: 10px;
}

.wrapper .top_navbar{
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 10px;
}

.wrapper .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  background: #2e4ead;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper .top_navbar .top_menu .logo{
  color: #2e4ead;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

.wrapper .top_navbar .top_menu ul{
  display: flex;
}

.wrapper .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2e4ead;
  border-radius: 50%;
  color: #2e4ead;
}

.wrapper .top_navbar .top_menu ul li a:hover{
  background: #4360b5;
  color: #fff;
}

.wrapper .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}
.wrapper .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}


.wrapper.collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}
.wrapper1{
  margin: 60px;
}

.wrapper1 .top_navbar{
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 100px;
  left: 10px;
}

.wrapper1 .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  background: #2e4ead;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper1 .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper1 .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper1 .top_navbar .top_menu .logo{
  color: #2e4ead;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
}

.wrapper1 .top_navbar .top_menu ul{
  display: flex;
}

.wrapper1 .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2e4ead;
  border-radius: 50%;
  color: #2e4ead;
}

.wrapper1 .top_navbar .top_menu ul li a:hover{
  background: #4360b5;
  color: #fff;
}

.wrapper1 .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}
.wrapper1 .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper1 .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}


.wrapper1.collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}
.wrapper2{
  margin: 120px;
}

.wrapper2 .top_navbar{
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 200px;
  left: 10px;
}

.wrapper2 .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  background: #2e4ead;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper2 .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper2 .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper2 .top_navbar .top_menu .logo{
  color: #2e4ead;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 3px;
}

.wrapper2 .top_navbar .top_menu ul{
  display: flex;
}

.wrapper2 .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2e4ead;
  border-radius: 50%;
  color: #2e4ead;
}

.wrapper2 .top_navbar .top_menu ul li a:hover{
  background: #4360b5;
  color: #fff;
}

.wrapper2 .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}
.wrapper2 .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper2 .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}


.wrapper2 .collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}
.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.wrapper3{
  margin: 180px;
}

.wrapper3 .top_navbar{
  width: calc(100%);
  height: 60px;
  display: flex;
  position: fixed;
  top: 300px;
  left: 10px;
}

.wrapper3 .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  background: #2e4ead;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper3 .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper3 .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper3 .top_navbar .top_menu .logo{
  color: #2e4ead;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 3px;
}

.wrapper3 .top_navbar .top_menu ul{
  display: flex;
}

.wrapper3 .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2e4ead;
  border-radius: 50%;
  color: #2e4ead;
}

.wrapper3 .top_navbar .top_menu ul li a:hover{
  background: #4360b5;
  color: #fff;
}

.wrapper3 .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}
.wrapper3 .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper3 .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}


.wrapper3 .collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}
.wrapper4{
  margin: 240px;
}

.wrapper4 .top_navbar{
  width: calc(100%);
  height: 60px;
  display: flex;
  position: fixed;
  top: 400px;
  left: 10px;
}

.wrapper4 .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper4 .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper4 .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper4 .top_navbar .top_menu .logo{
  color: #2e4ead;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 3px;
}


.wrapper4 .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper4 .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}


.wrapper4 .collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}
.wrapper5{
  margin: 300px;
}

.wrapper5 .top_navbar{
  width: calc(100%);
  height: 60px;
  display: flex;
  position: fixed;
  top: 500px;
  left: 10px;
}

.wrapper5 .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper5 .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper5 .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper5 .top_navbar .top_menu .logo{
  color: #2e4ead;
  font-size: 20x;
  font-weight: 500;
  letter-spacing: 3px;
}


.wrapper5 .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper5 .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}


.wrapper5 .collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}
.wrapper5 .top_navbar .top_menu ul{
  display: flex;
}

.wrapper5 .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2e4ead;
  border-radius: 50%;
  color: #2e4ead;
}

.wrapper5 .top_navbar .top_menu ul li a:hover{
  background: #4360b5;
  color: #fff;
}

.wrapper5 .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}
.dropdown {
  float: left;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(138, 13, 13);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown1 {
  float: left;
}

.dropdown1 .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(138, 13, 13);
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}








.wrappera{
  margin: 360px;
}

.wrappera .top_navbar{
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 600px;
  left: 10px;
}

.wrappera .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  background: #2121da;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrappera .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrappera .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background: #bf7c7c;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrappera .top_navbar .top_menu .logo{
  color: #2e4ead;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

.wrappera .top_navbar .top_menu ul{
  display: flex;
}

.wrappera .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2e4ead;
  border-radius: 50%;
  color: #2e4ead;
}

.wrappera .top_navbar .top_menu ul li a:hover{
  background: #4360b5;
  color: #fff;
}

.wrappera .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}
.wrappera .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrappera.main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}


.wrappera.collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}
.wrapper1a{
  margin: 420px;
}

.wrapper1a .top_navbar{
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 700px;
  left: 10px;
}

.wrapper1a .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  background: #2e4ead;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper1a .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper1a .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background:#bf7c7c;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper1a .top_navbar .top_menu .logo{
  color: #2e4ead;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
}

.wrapper1a .top_navbar .top_menu ul{
  display: flex;
}

.wrapper1a .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2e4ead;
  border-radius: 50%;
  color: #2e4ead;
}

.wrapper1a .top_navbar .top_menu ul li a:hover{
  background: #4360b5;
  color: #fff;
}

.wrapper1a .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}
.wrapper1a .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper1a .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}


.wrapper1a.collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}
.wrapper2a{
  margin: 480px;
}

.wrapper2a .top_navbar{
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 800px;
  left: 10px;
}

.wrapper2a .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  background: #2e4ead;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper2a .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper2a .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background:#bf7c7c;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper2a .top_navbar .top_menu .logo{
  color: #2e4ead;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 3px;
}

.wrapper2a .top_navbar .top_menu ul{
  display: flex;
}

.wrapper2a .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2e4ead;
  border-radius: 50%;
  color: #2e4ead;
}

.wrapper2a .top_navbar .top_menu ul li a:hover{
  background: #4360b5;
  color: #fff;
}

.wrapper2a .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}
.wrapper2a .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper2a .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}


.wrapper2a .collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}
.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.wrapper3a{
  margin: 540px;
}

.wrapper3a .top_navbar{
  width: calc(100%);
  height: 60px;
  display: flex;
  position: fixed;
  top: 900px;
  left: 10px;
}

.wrapper3a .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  background: #2e4ead;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper3a .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper3a .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background:#bf7c7c;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper3a .top_navbar .top_menu .logo{
  color: #2e4ead;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 3px;
}

.wrapper3a .top_navbar .top_menu ul{
  display: flex;
}

.wrapper3a .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2e4ead;
  border-radius: 50%;
  color: #2e4ead;
}

.wrapper3a .top_navbar .top_menu ul li a:hover{
  background: #4360b5;
  color: #fff;
}

.wrapper3a .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}
.wrapper3a .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper3a .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}


.wrapper3a .collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}
.wrapper4a{
  margin: 600px;
}

.wrapper4a .top_navbar{
  width: calc(100%);
  height: 60px;
  display: flex;
  position: fixed;
  top: 1000px;
  left: 10px;
}

.wrapper4a .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper4a .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper4a .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background:#bf7c7c;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper4a .top_navbar .top_menu .logo{
  color: #2e4ead;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 3px;
}


.wrapper4a .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper4a .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}


.wrapper4a .collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}
.wrapper5a{
  margin: 660px;
}

.wrapper5a .top_navbar{
  width: calc(100%);
  height: 60px;
  display: flex;
  position: fixed;
  top: 1100px;
  left: 10px;
}

.wrapper5a .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper5a .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper5a .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background: #bf7c7c;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper5a .top_navbar .top_menu .logo{
  color: #2e4ead;
  font-size: 20x;
  font-weight: 500;
  letter-spacing: 3px;
}


.wrapper5a .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper5a .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}


.wrapper5a .collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}
.wrapper5a .top_navbar .top_menu ul{
  display: flex;
}

.wrapper5a .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2e4ead;
  border-radius: 50%;
  color: #2e4ead;
}

.wrapper5a .top_navbar .top_menu ul li a:hover{
  background: #4360b5;
  color: #fff;
}

.wrapper5a .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}
.dropdown {
  float: left;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(138, 13, 13);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown1 {
  float: left;
}

.dropdown1 .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(138, 13, 13);
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}






h3 {
  font-family: "Noto Serif Display", serif;
  font-size: 2.3rem;
  font-weight: 300;
  text-align: center;
}
a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  transition: 0.3s ease-in;
  border-bottom: 1px solid transparent;
  margin-bottom: 0.5rem;
  display: inline-flex;
}

ul {
  list-style-type: none;
  padding: 0;
}
ex {
  display: flex;
}

.footer_inner {
  background-color: #080892;
  border: 0.1px solid rgba(0, 0, 0, 0.208);
  border-radius: 5px;
  padding: 2rem;
  margin: 1rem 0;
}
.footer {
  width: 100%;
  background-color: rgb(250, 207, 151);
  position:fixed;
  display: flex;
  align-items: center;
  top:1300px;
  left:20px;
  right:40px;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(100%, 400px);
  border-bottom: 1px solid var(--dark);
}

input {
  padding: 0.75rem 0;
  border: none;
  background: none;
  font-weight: 500;
  transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 0;
  width: 100%;
  font-size: 1.05rem;
  font-weight: bolder;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: var(--dark);
}
@media (min-width: 675px) {
  .layout {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2rem;
  }
  .w-50 {
    width: 50%;
  }
  .w-25 {
    width: 25%;
  }
}





.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  padding-left:50px;
  position: fixed;
  top:2000px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  min-height:400px;
  background-image: url('https://tse1.mm.bing.net/th?id=OIP.NbfPECA64xbFnmW58MbWDQHaEo&pid=Api&rs=1&c=1&qlt=95&w=182&h=114');
}
.card1 {
  margin-left:700px;
  position: fixed;
  top:2000px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  min-height:400px;
  background-color:rgb(114, 117, 117);
}
.card2 {
  margin-left:1300px;
  position: fixed;
  top:2000px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  min-height:400px;
  background-color:rgb(244, 193, 107);
}
.card3{
  margin-left:1700px;
  position: fixed;
  top:2000px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  min-height:400px;
  background-color:rgb(239, 239, 15);
}







::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

