*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}

nav{
    width: 100%;
    height: 80px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
label.logo{
    font-size: 30px;
    margin: 0 15px;
    line-height: 80px;
}
nav ul {
    float: right;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 8px 15px;
}
#btn{
    float: right;
    line-height: 80px;
    margin-right: 10px;
    font-size: 30px;
    color: black;
    display: none;
}
#box{
    display: none;
}
#box:checked ~ ul{
    left: 0;
}

@media(max-width: 700px){
    #btn{
        display: block;
    }
    nav ul{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: black;
        transition: .5s;
    }
    nav ul li{
        display: block;
        text-align: center;
    }
    nav ul li a{
        color: white;
    }
}