:root{
    --primary-100: #f1f5ff;
    --primary-200: #d6e4ff;
    --primary-300: #b9cfff;
    --primary-400: #4685fd;
    --primary-500: #4785fe;
}

/* Try building this component. */
/* https://www.figma.com/community/file/1098699814733524735/ALF-Flowcharts-Wireframe-Constructor-Free-Sample?preview=fullscreen */