@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #111317;
    --primary-color-light: #1f2125;
    --primary-color-extra-light: #35373b;
    --secondary-color: #f9ac54;
    --secondary-color-dark: #d79447;
    --text-light: #d1d5db;
    --white: #ffffff;
    --max-width: 2000px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-color);
}

/* Flex CSS */
.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-space {
    justify-content: space-between;
}

/* Navigation CSS */
nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    gap: 2rem;
}

.nav-logo {
    max-width: 150px;
}

.nav-links {
    list-style: none;
    font-size: 1.1rem;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.65rem;
    color: var(--white);
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    transition: 0.3s;
}

/* Section CSS */
.section-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section-header {
    margin-bottom: 1rem;
    font-size: 2.45rem;
    font-weight: 600;
    text-align: center;
    color: var(--white);
}

.section-subheader {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: var(--text-light);
}

.btn {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1.3rem;
    color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--secondary-color-dark);
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.bg-blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px var(--secondary-color);
    z-index: -1;
}

.link a:hover::after {
    width: 50%;
}

.header-container {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

.header-container::before {
    content: "FITNESS";
    position: absolute;
    bottom: 7rem;
    right: 35rem;
    font-size: 15rem;
    font-weight: 700;
    line-height: 7rem;
    color: var(--white);
    opacity: 0.05;
    z-index: -1;
}

.header-blur {
    bottom: 5rem;
    right: 0;
}

.header-content h4 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.header-content h1 {
    margin-bottom: 1rem;
    font-size: 7rem;
    font-weight: 700;
    line-height: 6rem;
    color: var(--white);
}

.header-content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--white);
}

.header-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--text-light);
}

.header-img {
    display: grid;
}

.header-img img {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
}

.header-img::before {
    content: "o";
    position: absolute;
    top: 16%;
    left: 75%;
    transform: translateX(-50%);
    font-size: 74rem;
    font-weight: 200;
    line-height: 20rem;
    color: var(--secondary-color);
    opacity: 0.1;
    z-index: -1;
}

.explore-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.explore-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.explore-nav span {
    padding: 0 6px;
    font-size: 1.5rem;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.explore-nav span:hover {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.explore-grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.explore-card {
    padding: 1rem;
    background-color: var(--primary-color-light);
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}

.explore-card:hover {
    background-color: var(--primary-color-extra-light);
    border-color: var(--secondary-color);
}

.explore-card span {
    display: inline-block;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: var(--white);
    background-color: var(--secondary-color-dark);
    border-radius: 5px;
}

.explore-card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--white);
}

.explore-card p {
    margin-bottom: 1rem;
    font-size: 1.15rem;
    color: var(--text-light);
}

.explore-card a {
    color: var(--white);
    font-size: 1.15rem;
    transition: 0.3s;
}

.explore-card a:hover {
    color: var(--secondary-color);
}

.class-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.class-image {
    position: relative;
}

.class-image .class-img-1 {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 650px;
    border-radius: 10px;
}

.class-image .class-img-2 {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 370px;
    border-radius: 10px;
}

.class-content {
    padding: 4rem 0;
}

.class-content .section-header {
    text-align: left;
    max-width: 400px;
}

.class-content p {
    margin-bottom: 4rem;
    font-size: 1.2rem;
    color: var(--text-light);
}

.join-image {
    margin-top: 4rem;
    position: relative;
}

.join-image img {
    border-radius: 10px;
}

.join-grid {
    position: absolute;
    bottom: -5rem;
    width: calc(100% - 4rem);
    padding: 2rem;
    margin: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: var(--primary-color-light);
    border-radius: 10px;
}

.join-card {
    flex: 1 1 250px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.join-card span {
    padding: 5px 12px;
    font-size: 1.75rem;
    color: var(--white);
    background-color: var(--secondary-color-dark);
    border-radius: 5px;
}

.join-card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
}

.join-card p {
    color: var(--text-light);
}

.section-container p {
    font-size: 1.1rem;
}

.price-grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.price-card {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color-light);
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}

.price-card:hover {
    background-color: var(--primary-color-extra-light);
    border-color: var(--secondary-color);
}

.price-card-content {
    flex: 1;
    margin-bottom: 2rem;
}

.price-card h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
}

.price-card h3 {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
    border-bottom: 2px solid var(--white);
}

.price-card p {
    margin-bottom: 0.75rem;
    color: var(--white);
}

.price-card p i {
    margin-right: 0.5rem;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.price-btn {
    color: var(--secondary-color);
    background-color: transparent;
    border: 2px solid var(--secondary-color);
}

.price-btn:hover {
    color: var(--white);
    background-color: var(--secondary-color);
}

.review {
    background-color: var(--primary-color-light);
}

.review-container {
    display: flex;
    gap: 2rem;
}

.review-container > span {
    font-size: 6rem;
    color: var(--secondary-color);
    opacity: 0.5;
}

.review-content {
    flex: 1;
}

.review-content h4 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--white);
}

.review-content p {
    max-width: 800px;
    margin-bottom: 2rem;
    color: var(--text-light);
}

.review-rating span {
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.review-footer {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.review-member {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.review-member img {
    max-width: 60px;
    border-radius: 100%;
}

.review-member-details h4 {
    margin-bottom: 0;
}

.review-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.review-nav span {
    font-size: 2rem;
    color: var(--secondary-color);
    cursor: pointer;
}

.footer-container {
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

.footer-blur {
    bottom: 0;
    right: 0;
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 2rem;
}

.footer-col p {
    margin-bottom: 2rem;
    color: var(--text-light);
}

.footer-socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-socials a {
    padding: 5px 10px;
    font-size: 1.25rem;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 100%;
    transition: 0.3s;
}

.footer-socials a:hover {
    color: var(--white);
    background-color: var(--secondary-color);
}

.footer-col h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
}

.footer-col > a {
    display: block;
    margin-bottom: 1rem;
    color: var(--text-light);
    transition: 0.3s;
}

.footer-col > a:hover {
    color: var(--secondary-color);
}

.footer-bar {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    font-size: 0.8rem;
    color: var(--white);
}

@media (max-width: 1000px) {
    .nav-links {
        display: none;
    }

    .header-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .header-img {
        grid-area: 1/1/2/2;
    }

    .header-img::before {
        top: 10%;
        left: 50%;
    }

    .explore-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .class-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .class-image {
        min-height: 500px;
    }

    .price-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .review-container {
        gap: 2rem;
    }

    .footer-container {
        grid-template-columns: 1fr 200px;
    }
}

@media (max-width: 650px) {
    .header-img::before {
        top: 5%;
        font-size: 40rem;
    }
    
    .explore-header {
        flex-direction: column;
    }

    .explore-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .join-container {
        margin-bottom: 15rem;
    }

    .join-grid {
        width: 100%;
        margin: 0;
        bottom: -20rem;
    }

    .price-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .review-container {
        flex-direction: column;
    }

    .review-footer {
        flex-direction: column;
    }

    .footer-bar {
        text-align: center;
    }
}

@media (max-width: 400px) {
    .header-img::before {
        top: 1%;
        font-size: 30rem;
    }

    .header-container h1 {
        font-size: 6rem;
    }

    .join-container {
        margin-bottom: 21rem;
    }

    .join-grid {
        bottom: -26rem;
    }

    .footer-container {
        grid-template-columns: repeat(1, 1fr);
    }
}