* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

button {
    cursor: pointer;
}

.navbar {
    width: 100%;
    /* height: 50px; */
    background-color: #27272a;
    padding: 20px 50px;
}

.navbar .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.navbar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.navbar .logo img {
    width: 40px;
    aspect-ratio: 1;
}

.navbar .logo div {
    display: flex;
    flex-direction: column;
}

.navbar .nav-list {
    display: flex;
    gap: 30px;
}

.navbar .btns button {
    padding: 8px 16px;
    border-radius: 5px;
    border: 2px solid #fff;
    outline: none;
    font-size: medium;
    font-weight: 600;
}

.navbar .btns button:first-child {
    background-color: #27272a;
    color: white;
    border: 1px solid white;
}

.hero {
    background-color: #27272a;
    color: #fff;
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 50px;
}

.hero h3 {
    color: #ffffff73;
    font-weight: normal;
}

.content {
    width: 100%;
    padding: 5%;
    background-color: #EBEBEB;
}

.content .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content .head {
    width: 60%;
    margin-top: -150px;
    /* box-shadow: 10px 5px 20px 0 grey; */
    border-radius: 0 10px 10px 10px;
}

.content .head .c1 h4 {
    font-weight: 500;
    background-color: #fff;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px 10px 0 0;
}

.content .head .box {
    width: 100%;
    padding: 30px;
    background-color: #fff;
    display: flex;
    gap: 10px;
    border-radius: 0 10px 10px 10px;
}

.content .head .input-box {
    width: 80%;
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding: 10px 20px;
}

.content .head input {
    width: 80%;
    outline: none;
    border: none;
}

.content .head input::placeholder {
    font-weight: 500;
    color: #b6b6b6;
}

.content .head button {
    color: #ffffff;
    background-color: #d3d2d2;
    flex: 1;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}

.services {
    width: 100%;
    background-color: #EBEBEB;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services .container {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services .c1 {
    display: flex;
    gap: 20px;
}

.services .c1 div:first-child {
    width: 50px;
    aspect-ratio: 1;
    background-color: red;
}

.services .c1 h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}

.services .c1 p {
    color: rgba(0, 0, 0, 0.500);
}

/* -----------------------------  */

.FAQs {
    width: 100%;
    background-color: #EBEBEB;
    padding: 5%;
}

.FAQs .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.FAQs h2 {
    margin: 10px 0;
}

.FAQs p {
    color: rgba(0, 0, 0, 0.5);
}

.FAQs .faq-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.FAQs p a {
    color: #27272a;
    text-decoration: underline;
}

.FAQs .c1 {
    /* display: flex; */
    gap: 20px;
}

.FAQs .c1 h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #EBEBEB;
    width: 100%;
    padding: 40px;
}

footer a {
    color: black;
    font-size: small;
}

