* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

button {
    cursor: pointer;
}

.navbar {
    position: fixed;
    width: 100%;
    /* height: 50px; */
    background-color: #27272a;
    padding: 20px 12%;
    transition: 0.4s;
}

.navbar .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.navbar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.navbar .logo img {
    width: 40px;
    aspect-ratio: 1;
}

.navbar .logo div {
    display: flex;
    flex-direction: column;
}

.logo div a {
    color: #059669;
    font-size: 12px;
    font-weight: 600;
}

.logo div a:first-child {
    font-size: 16px;
    color: #fff;
}


.navbar .nav-list {
    display: flex;
    color: #ffffff;
    gap: 40px;
}

.navbar .nav-list a {
    color: #ffffff98;
    font-weight: 600;
}

.navbar .nav-list a:first-child {
    color: #fff;
}

.navbar .btns {
    display: flex;
    gap: 10px;
}

.navbar .btns button {
    padding: 8px 16px;
    border-radius: 5px;
    border: 2px solid #fff;
    outline: none;
    font-size: medium;
    font-weight: 600;
}

.navbar .btns button:first-child {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.sticky {
    background-color: #fff;
    box-shadow: 5px 0px 10px 0 #27272a5b;
    color: black;
    position: fixed;
    top: 0;
    width: 100%
}

.sticky .logo div a:first-child {
    color: black;
}

.sticky .nav-list a {
    color: rgba(0, 0, 0, 0.544);
    font-weight: 600;
}

.sticky .nav-list a:first-child {
    color: black;
}

.sticky .btns button {
    background-color: #27272a;
    color: #fff;
    border: 1px solid #27272a;
}

.sticky .btns button:first-child {
    background-color: transparent;
    color: #27272a;
    border: 1px solid #27272a;
}

.hero {
    background-color: #27272a;
    color: #fff;
    text-align: center;
    height: 50vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 50px;
}

.hero h3 {
    color: #ffffff73;
    font-weight: normal;
}

.content {
    width: 100%;
    padding: 5%;
    background-color: #f4f4f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .container {
    width: 100%;
    max-width: 868px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content .head {
    width: 100%;
    margin-top: -150px;
    box-shadow: 10px 5px 40px 0 #27272a5b;
    border-radius: 0 10px 10px 10px;
}

.content .head .c1 h4 {
    font-weight: 500;
    background-color: #fff;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px 10px 0 0;
}

.content .head .box {
    width: 100%;
    padding: 30px;
    background-color: #fff;
    display: flex;
    gap: 10px;
    border-radius: 0 10px 10px 10px;
}

.content .head .input-box {
    width: 80%;
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding: 15px 20px;
    display: flex;
    flex-grow: 1;
    gap: 10px;
}

.content .head input {
    width: 80%;
    outline: none;
    border: none;
}

.content .head input::placeholder {
    font-weight: 500;
    font-size: 20px;
    color: #b6b6b6;
}

.content .head button {
    color: #ffffff;
    background-color: #d3d2d2;
    flex: 1;
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}

.services {
    width: 100%;
    background-color: #f4f4f5;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services .container {
    width: 868px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services .c1 {
    display: flex;
    gap: 20px;
}

.services .c1 div:first-child {
    /* display: inline-flex; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.services .c1 div:first-child i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    font-size: 24px;
    padding: 8px 10px;
    text-align: center;
    aspect-ratio: 1;
    color: #fff;
    background-color: #059669;
    border-radius: 10px;
}

.services .c1 h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}

.services .c1 p {
    color: rgba(0, 0, 0, 0.500);
}

/* -----------------------------  */

.FAQs {
    width: 100%;
    background-color: #f4f4f5;
    padding: 10%;
}

.FAQs .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.FAQs h2 {
    margin: 10px 0;
}

.FAQs p {
    color: rgba(0, 0, 0, 0.5);
}

.FAQs .faq-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.FAQs p a {
    color: #27272a;
    text-decoration: underline;
}

.FAQs .c1 {
    /* display: flex; */
    display: grid;
    /* grid-column: span 2; */
    gap: 20px;
}

.FAQs .c1 h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #EBEBEB;
    width: 100%;
    padding: 40px;
}

footer a {
    color: black;
    font-size: small;
}

@media screen and (max-width: 1024px) {

    .navbar {
        padding: 25px 5%;
    }

    .sticky {
        padding: 15px 5%;
    }

    .FAQs {
        padding: 5%;
    }

    .FAQs .c1 {
        display: grid;
        grid-column: span 2;
        gap: 20px;
    }

}



@media screen and (max-width: 648px) {

    .box {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 648px;
    }

    .navbar .nav-list, .navbar .btns {
        display: none;
    }
}